.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      img.truqr-logo(src='/images/truqr-logo.png')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Scan Ramp') ? 'active' : undefined)
          a.nav-link.text-center(href='/qrScanner')
            i.fas.fa-qrcode
            | Scan Ramp
        li.nav-item(class=(title === 'My Ramps') ? 'active' : undefined)
          a.nav-link.text-center(href='/')
            i.fas.fa-map-marker-alt
            | My Ramps
      ul.nav.navbar-nav.ml-auto
        .searchbox-container
