extends ./layout
block content
  include partials/header
  style.
    #map {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0px;
      left: 0px;
    }

    .map-container {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 67.5px;
    }

    #pac-input {
      width: 250px;
      border-radius: 5px;
      border: none;
      padding-left: 10px;
      height: 40px;
      background-color: #e9e9e9;
    }

    #pac-container {
      z-index: 20;
    }

    .searchbox-container {
      margin: 0 auto
    }

  .map-container
    input#pac-input(class="controls" type="search" placeholder="Search for Your Ramp")
    #map
    #locationRootElem(hidden)
      .location-info-container
        h6.location-title
        h7.address
    #rampRootElem(hidden)
      .ramp-container
        h7.rampNumber
        .status
          i.fas.fa-circle
          h7
        h7.occupiedSince
          
        

block append footer
  script.
    var locations = !{JSON.stringify(locations)};

    $(document).ready(function() {
      $('.searchbox-container').append($('#pac-input'));
      $(window).resize(function() {
        resizeMap();
      });
    });
  script(src=`https://maps.googleapis.com/maps/api/js?key=${google_map_api_key}&libraries=places&callback=initAutocomplete`)
  