extends ./layout

block content
    include partials/header
    .info-container
        .child-containers.margin-top-neg-10
            .ramp-container.text-center
                h2 #{ramp.rampNumber}
                h6.margin-top-neg-10.font-dark-grey Ramp Number
            .location-container.text-center.margin-top-20
                h3 #{ramp.Location.name}
                h6.margin-top-neg-10.font-dark-grey Location
            .time-container.text-center.margin-top-20
                h3 #{time}
                h6.margin-top-neg-10.font-dark-grey Time
            .check-mark-container.text-center.margin-top-40.font-green
                h1
                    i.far.fa-check-circle
                h3.margin-top-neg-10 Occupied

block append footer
  script.